body {
background-image: url("https://www.google.co.in/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjLpura_ZbUAhUJQY8KHWg0D9sQjRwIBw&url=http%3A%2F%2Fall-free-download.com%2Ffree-photos%2Fred-color-background-design.html&psig=AFQjCNHb6lcyFY7h2MS_xnkzbSvqNajVeA&ust=1496211824932073");
background-repeat: no-repeat;
background-size: cover;
}
